<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>ExpApp</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>1.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1</string>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSExceptionDomains</key>
		<dict>
			<key>localhost</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string/>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
	<key>UIAppFonts</key>
	<array>
		<string>AntDesign.ttf</string>
		<string>Entypo.ttf</string>
		<string>EvilIcons.ttf</string>
		<string>Feather.ttf</string>
		<string>FontAwesome.ttf</string>
		<string>FontAwesome5_Brands.ttf</string>
		<string>FontAwesome5_Regular.ttf</string>
		<string>FontAwesome5_Solid.ttf</string>
		<string>Fontisto.ttf</string>
		<string>Foundation.ttf</string>
		<string>Ionicons.ttf</string>
		<string>MaterialCommunityIcons.ttf</string>
		<string>MaterialIcons.ttf</string>
		<string>Octicons.ttf</string>
		<string>SimpleLineIcons.ttf</string>
		<string>Zocial.ttf</string>
		<string>Choplin-ExtraLight-DEMO.otf</string>
		<string>Choplin-Medium-DEMO.otf</string>
		<string>death_star.otf</string>
		<string>Helvetica-Bold.ttf</string>
		<string>Helvetica-BoldOblique.ttf</string>
		<string>helvetica-compressed-5871d14b6903a.otf</string>
		<string>helvetica-light-587ebe5a59211.ttf</string>
		<string>Helvetica-Oblique.ttf</string>
		<string>helvetica-rounded-bold-5871d05ead8de.otf</string>
		<string>Helvetica.ttf</string>
		<string>Nexa Bold.otf</string>
		<string>Nexa Light.otf</string>
		<string>NexaBlack.otf</string>
		<string>NexaBlackItalic.otf</string>
		<string>NexaBold.otf</string>
		<string>NexaBoldItalic.otf</string>
		<string>NexaBook.otf</string>
		<string>NexaBookItalic.otf</string>
		<string>NexaHeavy.otf</string>
		<string>NexaHeavyItalic.otf</string>
		<string>NexaLight.otf</string>
		<string>NexaLightItalic.otf</string>
		<string>NexaRegular.otf</string>
		<string>NexaRegularItalic.otf</string>
		<string>NexaThin.otf</string>
		<string>NexaThinItalic.otf</string>
		<string>NexaXBold.otf</string>
		<string>NexaXBoldItalic.otf</string>
		<string>Overlock-Black.ttf</string>
		<string>Overlock-BlackItalic.ttf</string>
		<string>Overlock-Bold.ttf</string>
		<string>Overlock-BoldItalic.ttf</string>
		<string>Overlock-Italic.ttf</string>
		<string>Overlock-Regular.ttf</string>
	</array>
</dict>
</plist>
